In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sb

/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
links = pd.read_csv('links.csv')
links.head(10)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
5        6  113277    949.0
6        7  114319  11860.0
7        8  112302  45325.0
8        9  114576   9091.0
9       10  113189    710.0

In [3]:
links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
movieId    9125 non-null int64
imdbId     9125 non-null int64
tmdbId     9112 non-null float64
dtypes: float64(1), int64(2)
memory usage: 213.9 KB

In [4]:
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
movieId    9125 non-null int64
title      9125 non-null object
genres     9125 non-null object
dtypes: int64(1), object(2)
memory usage: 213.9+ KB

In [6]:
ratings = pd.read_csv('ratings.csv')
ratings.head(40)

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117
20       2       10     4.0   835355493
21       2       17     5.0   835355681
22       2       39     5.0   835355604
23       2       47     4.0   835355552
24       2       50     4.0   835355586
25       2       52     3.0   835356031
26       2       62     3.0   835355749
27       2      110     4.0   835355532
28       2      144     3.0   835356016
29       2      150     5.0   835355395
30       2      153     4.0   835355441
31       2      161     3.0   835355493
32       2      165     3.0   835355441
33       2      168     3.0   835355710
34       2      185     3.0   835355511
35       2      186     3.0   835355664
36       2      208     3.0   835355511
37       2      222     5.0   835355840
38       2      223     1.0   835355749
39       2      225     3.0   835355552

In [7]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
userId       100004 non-null int64
movieId      100004 non-null int64
rating       100004 non-null float64
timestamp    100004 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [8]:
tags = pd.read_csv('tags.csv')
tags.head()

   userId  movieId                      tag   timestamp
0      15      339  sandra 'boring' bullock  1138537770
1      15     1955                  dentist  1193435061
2      15     7478                 Cambodia  1170560997
3      15    32892                  Russian  1170626366
4      15    34162              forgettable  1141391765

In [9]:
tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 4 columns):
userId       1296 non-null int64
movieId      1296 non-null int64
tag          1296 non-null object
timestamp    1296 non-null int64
dtypes: int64(3), object(1)
memory usage: 40.6+ KB

In [10]:
genre_set = set()
for genre in movies['genres'].unique():
    genre_set |= set(map(str, genre.split('|')))
genre_set = sorted(genre_set)
print(genre_set)

['(no genres listed)', 'Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

In [11]:
movie_genre_matrix = np.zeros((movies.shape[0]+1, len(genre_set)+1), dtype=int)
counter = 0
for index, row in movies.iterrows():
    genres = list(map(str, row['genres'].split('|')))
    movie_genre_matrix[counter][0] = row['movieId']
    for i in range(len(genre_set)):
        if genre_set[i] in genres:
            movie_genre_matrix[counter][i+1] = 1
    counter += 1
movie_genre_matrix = pd.DataFrame(movie_genre_matrix, columns=['movieId']+genre_set)
movie_genre_matrix.head(10)

,movieId,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,0,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,5,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,6,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
6,7,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
7,8,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,9,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,10,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [13]:
# user_gerne_matrix = []
# for user in ratings['userId'].unique():
#     genre_vector =

In [14]:
def getMGvector(genres):
    v = []
    genres = genres.split('|')
    for genre in genre_set:
        if genre in genres:
            v.append(1)
        else:
            v.append(0)
    return v

In [17]:
def getMGMatrix(df):
    mat = []
    for index, row in df.iterrows():
        temp = [row['movieId']] + getMGvector(row['genres'])
        mat.append(temp)
    cols = ['movieId'] + genre_set
    mat = pd.DataFrame(mat, columns=cols)
    mat.set_index('movieId', inplace=True)
    return mat

In [18]:
mgmat = getMGMatrix(movies)
list(mgmat.loc[1, :])

[0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [19]:
def getUGvector(df, mgmat):
    mat = []
    for index, row in df.iterrows():
        vec = list(mgmat.loc[row['movieId'], :])
        vec = [row['rating']*i for i in vec]
        mat.append(vec)
    n = len(mat)
    ugvec = []
    for i in range(20):
        gvalues = [mat[j][i] for j in range(n)]
        avg = round(sum(gvalues)/n, 3)
        ugvec.append(avg)
#     print(ugvec)
    return ugvec

In [20]:
def getUGMatrix(df, mgmat):
    mat = []
    for user in df['userId'].unique():
        df1 = df.loc[df['userId']==user , ['movieId', 'rating']]
        df2 = mgmat.loc[df1['movieId'].values, :]
        temp = [user] + getUGvector(df1, df2)
        mat.append(temp)
    cols = ['userId'] + genre_set
    mat = pd.DataFrame(mat, columns=cols)
#     print(mat)
    mat.set_index('userId', inplace=True)
    return mat

In [21]:
ugmat = getUGMatrix(ratings, mgmat)
ugmat.head(10)

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
userId,,,,,,,,,,,,,,,,,,,,
1,0.0,0.700,0.975,0.300,0.250,0.500,0.250,0.000,0.900,0.425,0.000,0.300,0.000,0.150,0.000,0.175,0.600,0.850,0.100,0.150
2,0.0,0.829,0.592,0.289,0.368,1.303,0.434,0.000,1.855,0.447,0.000,0.184,0.105,0.197,0.211,1.039,0.250,0.921,0.250,0.132
3,0.0,1.088,0.647,0.225,0.265,1.275,0.725,0.216,1.922,0.294,0.000,0.265,0.225,0.098,0.147,0.716,0.431,0.765,0.490,0.078
4,0.0,1.299,1.319,0.554,0.931,1.868,0.775,0.039,1.225,0.828,0.025,0.348,0.025,0.569,0.221,0.618,0.897,0.868,0.093,0.015
5,0.0,0.480,0.765,0.390,0.545,2.190,0.345,0.110,1.485,0.525,0.000,0.155,0.200,0.425,0.200,1.510,0.280,0.435,0.160,0.000
6,0.0,1.114,1.273,0.318,0.364,1.057,0.557,0.000,1.614,0.670,0.000,0.227,0.170,0.136,0.193,0.330,0.750,0.557,0.284,0.000
7,0.0,1.307,1.330,0.557,0.602,1.489,0.455,0.000,1.159,0.489,0.000,0.057,0.068,0.318,0.057,0.500,0.955,0.545,0.205,0.057
8,0.0,1.060,0.733,0.091,0.181,1.047,1.086,0.026,1.884,0.332,0.060,0.233,0.069,0.030,0.483,0.737,0.453,1.159,0.211,0.000
9,0.0,0.578,0.422,0.222,0.133,1.156,0.778,0.000,2.489,0.400,0.000,0.178,0.000,0.089,0.156,1.378,0.378,0.800,0.244,0.000
10,0.0,1.674,1.109,0.000,0.000,0.935,0.543,0.000,1.326,0.196,0.000,0.522,0.000,0.065,0.326,0.587,0.674,1.217,0.087,0.043

In [22]:
def getRecommendations(userid, ugm, mgm):
    mat = []
    ugv = ugm.loc[userid, :].values
    for movieid in mgm.index.values:
        mgv = mgm.loc[movieid, :].values
        score = round(np.dot(ugv,mgv), 3)
        mat.append([movieid, score])
    mat = pd.DataFrame(mat, columns=['movieId', 'score'])
    return mat

In [23]:
scores = getRecommendations(1, ugmat, mgmat)
scores.sort_values(by=['score'], ascending=False, inplace=True)
for index, row in scores.head(10).iterrows():
    mid = row['movieId']
    mname = movies.loc[movies['movieId']==mid, 'title'].values[0]
    score = row['score']
    print('{}\t\t{}\t\t{}'.format(mid, mname, score))

81132.0		Rubber (2010)		4.625
5018.0		Motorama (1991)		4.5
6902.0		Interstate 60 (2002)		4.25
4956.0		Stunt Man, The (1980)		4.1
91500.0		The Hunger Games (2012)		4.025
58025.0		Jumper (2008)		4.025
117529.0		Jurassic World (2015)		4.025
8361.0		Day After Tomorrow, The (2004)		4.025
48774.0		Children of Men (2006)		4.025
55116.0		Hunting Party, The (2007)		3.925

In [26]:
import os

if('matrices' not in os.listdir()):
    os.mkdir('matrices')
ugmat.to_csv('./matrices/user-genre-matrix.csv', sep=',')
mgmat.to_csv('./matrices/movie-genre-matrix.csv', sep=',')

In [27]:
print(mgmat.shape)
print(ugmat.shape)

(9125, 20)
(671, 20)

In [28]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [48]:
def predict(mgm, ugm):
    mat = np.zeros((ugm.shape[0], mgm.shape[0]))
    col = list(map(lambda x: str(x), mgm.index.values))
    row = ugm.index.values
    mat = pd.DataFrame(mat, index=row, columns=col)
    for uid in ugm.index.values:
        ugv = ugm.loc[uid, :].values
        for mid in mgm.index.values:
            print('processing user:{}/{}, movie:{}/{}'.format(uid, ugm.shape[0], mid, mgm.shape[0]))
            mgv = mgv = mgm.loc[mid, :].values
            score = round(np.dot(ugv,mgv), 3)
            mat.loc[uid, mid] = score
    return mat